$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-sidebar:#f0eeee ;
$color-section:#f7f7f7;


$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-grey-light-3: #faf9f9;
$color-grey-light-4: #f4f2f2;
$color-grey-light-5: #f0eeee;
$color-grey-light-6: #ccc;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;