.footer {
   
    padding: 4rem;
    background-color: $color-primary;
    font-size: 1.8rem;
    color: white;
    display: flex;
    line-height: 2.6rem;

    @include respond(phone) { 
        flex-direction: column;
    }

    &__owner {
        flex: 50%;
        padding: 0 2rem;

        @include respond(phone) { 
            border-bottom: 3px solid white;
            margin-bottom: 3rem; 
            padding-bottom: 3rem;  
        }
    }

    &__creator {
        flex: 50%;
        padding: 0 2rem;

        
    }

    &__link{
        &:link,
        &:visited {
            color: $color-primary;
            background-color: white;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;

        }

        &:hover,
        &:active {
            background-color: black;
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba(#000000, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }
}