$background: #fffffb;


.card {
  min-height: 37rem;
  width: 32rem;
  padding: 20px;
  border-radius: 5px;
  background: $background;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  margin-left: 4rem;
  margin-bottom: 4rem;
  //z-index: 0; //-1 yapman gerek sidebar için. bu ve header z-index
  text-align: center;
  transition: transform .5s ease-in-out;

  &:hover {
    transform: scale(1.08);
  }

  @include respond(tab-port) { 
    width: 30rem;
    
}
@include respond(phone) { 
    width: 27rem;
    margin-left: 1rem;
    padding: 12px;
}


  &__image {
    height: 7rem;
    width: 7rem;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

  @include respond(phone) { 
      top: -40px; 
  }
}

  

  //--green color hover style start--
  &__name-title {
    font-size: 2rem;
    position: relative;
    display: inline-block;
    margin-bottom:2rem;	
  }
  &__name-title::before {
    @include before;

  }
  &:hover  &__name-title::before{
    transform: scaleY(1);
    width: 100%;
  }
  &__name-link:link,
  &__name-link:visited {
    @include linkvisited
  }
  &:hover &__name-link{
    color: white;
  }
  //--end--


  &__detail{
    font-size: 1.8rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid $color-grey-light-6;
  }
  &__links {
    
    padding: 2rem 4rem;
    padding-bottom: 0;
    
    
  }
  &__link {
      text-decoration: none;
      font-size: 1.6rem;
      color: black;
      display: block;
      margin-bottom: 2rem;
      border-bottom: 1px solid #00000021;
      transition: color .5s;
      cursor: pointer;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        
      }
      
      &:active,
      &:visited {
        color: black; 
      }
      &:hover {
          color: $color-primary-dark;
      }
  }

}