.margin-bottom-m {
    margin-bottom: 4rem;
}
.margin-top-m {
    margin-top: 4rem;
}


.text-align-center {
    text-align: center;
}
.inherit {
    color: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    display: inherit;
}
