
 .homepage {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      background-color: $color-section;
      padding: 4rem 0;
  }
